{% load static %}

{% url 'home' as home_url %}
{% url 'booking' as booking_url %}
{% url 'booking_overview' as booking_overview_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Website for the Mountain Mist Spa, describes different services that the spa offers, gives prices as well as contact details for the salon.">
    <title>Mountain Mist Spa</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!--Header and Navbar-->
    <!--Used django walkthrough project from Code Institute as inspiration for navbar list items-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-solid fa-mountain"></i> Mountain Mist Spa <i
                    class="fa-solid fa-mountain"></i></a>
            <button class="navbar-toggler bg-light navbar-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-body"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link
                      {% if request.path == booking_url %}active" aria-current="page{% endif %}"
                            href="{% url 'booking' %}">Make A Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link
                      {% if request.path == booking_overview_url %}active" aria-current="page{% endif %}"
                            href="{% url 'booking_overview' %}">Booking Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_logout' %}">Account Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_signup' %}">Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_login' %}">Account Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert-box">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
        fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>


    <main class="justify-content-end">
        {% if user.is_authenticated %}
        <p class="text-end m-3">Welcome, {{ user }}!</p>
        {% else %}
        <p class="text-end m-3">You are not signed in!</p>

        {% endif %}

        {% block content %}
        <!-- Content from linked HTML files will appear here -->
        {% endblock content %}

    </main>

    <!--Footer-->

    <footer class=" container footer">
        <!--Social Networks tags-->
        <ul id="socials">
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page! (opens in new tab)"><i class="fa-brands fa-square-instagram"
                        style="color: #c73a97;"></i></a>
            </li>
            <li>
                <a href="https://en-gb.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page! (opens in new tab)"><i class="fa-brands fa-square-facebook"
                        style="color: #1a77f2;"></i></a>
            </li>
        </ul>
    </footer>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/7c10daa828.js" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>